@page "/setlist"
<main role="main" class="container">
    <div class="@HeaderCollapse">
    <h1 class="cover-heading">Bringing setlist.fm to Spotify.</h1>
        <p class="lead">Search for shows you have been to (or wish you had) and create a Spotify playlist.</p>
    </div>
       @* <button onclick> </button> *@
</main>

@code
{
    private string HeaderCollapse { get; set; }

    
}