@inherits LayoutComponentBase
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <a href=""><h3 class="masthead-brand">Love music</h3></a>
            <nav class="nav nav-masthead justify-content-center">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="nav-link" href="creator">
                    Creator
                </NavLink>
            </nav>
        </div>
    </header>
    @Body
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="https://github.com/bjorndaniel/lovemusic" target="_blank">Checkout the code on github</a></p>
        </div>
    </footer>
    <BlazoredToasts 
    />
</div>
